
@{
    ViewBag.Title = "選擇購買方法";
}

<h2>選擇購買方法</h2>
<div class="col-md-6">
    <a href="@Url.Action("Index", "DessertBuy")">
        
        <img class="img-circle" src="~/images/Cookie.jpg" />
    </a>
    <p class="text-center">購買禮盒</p>
</div>
<div class="col-md-6">
    <a href="@Url.Action("Index", "BoxBuy")">
        <img class="img-circle" src="~/images/Box.png" />
    </a>
    <p class="text-center">購買單品點心</p>
</div>